{
    "owner": {
        "id": "412021620572422155",
        "name": "Adam ^^",
        "tag": "Adam ^^#7729"
    },
    "color": {
        "success": "YELLOW"
    },
    "IDs": {
        "friendsonly": [
            "012345678910111213"
        ],
        "testguild": "012345678910111213"
    }
}